<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicacion.android.danielvm.quicktest_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">

        </activity>
        <activity
            android:name=".Activities.Student.StudentActivity"
            android:parentActivityName=".Activities.CourseActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activities.Student.TestActivity" />
        <activity
            android:name=".Activities.Student.InfoGradeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Student.GradeActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Teacher.TeacherActivity"
            android:parentActivityName=".Activities.CourseActivity" />
        <activity
            android:name=".Activities.Teacher.StudentsGradesActivity"
            android:parentActivityName=".Activities.Teacher.TeacherActivity" />
        <activity android:name=".Activities.CourseActivity" />
        <activity
            android:name=".Activities.Teacher.ViewTestActivity"
            android:parentActivityName=".Activities.Teacher.StudentsGradesActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>