<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicacion.android.danielvm.quicktestandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="aplicacion.android.danielvm.quicktestandroid.activities.LoginActivity">

        </activity>
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.student.StudentActivity"
            android:parentActivityName="aplicacion.android.danielvm.quicktestandroid.activities.CourseActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="aplicacion.android.danielvm.quicktestandroid.activities.student.TestActivity" />
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.student.InfoGradeActivity"
            android:screenOrientation="landscape" />
        <activity android:name="aplicacion.android.danielvm.quicktestandroid.activities.student.GradeActivity" />
        <activity android:name="aplicacion.android.danielvm.quicktestandroid.activities.MainActivity" />
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.teacher.TeacherActivity"
            android:parentActivityName="aplicacion.android.danielvm.quicktestandroid.activities.CourseActivity" />
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.teacher.StudentsGradesActivity"
            android:parentActivityName="aplicacion.android.danielvm.quicktestandroid.activities.teacher.TeacherActivity" />
        <activity android:name="aplicacion.android.danielvm.quicktestandroid.activities.CourseActivity" />
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.teacher.ViewTestActivity"
            android:parentActivityName="aplicacion.android.danielvm.quicktestandroid.activities.teacher.TeacherActivity" />
        <activity
            android:name="aplicacion.android.danielvm.quicktestandroid.activities.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>